/* ============================================ */
/* 300 Width ================================== */
/* ============================================ */
@media all and (min-width: 300px) {
  #gallery{
    width: 100%;
    background: #ede7e7;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .galleryImageContainer{
    flex: 1;
    max-width: 300px;
    max-height: 300px;
    height: auto;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .galleryImage{
    box-shadow: 8px 8px 10px #aaa;
    border: solid 1px #aaa;
    border-radius: 15px;
    max-width: 250px;
    max-height: 250px;
    width: auto;
    height: auto;
  }
  .galleryImage:hover{
    z-index: 5;
    transition: all 200ms ease-in;
    transform: scale(1.2);
  }
}

/* ============================================ */
/* 375 Width ================================== */
/* ============================================ */
@media all and (min-width: 375px) {
  .galleryImageContainer{
    max-width: 300px;
    max-height: 300px;
  }
  .galleryImage{
    max-width: 300px;
    max-height: 300px;
  }
}

/* ============================================ */
/* 410 Width ================================== */
/* ============================================ */
@media all and (min-width: 410px) {
}

/* ============================================ */
/* 550 Width ================================== */
/* ============================================ */
@media all and (min-width: 550px) {
  .galleryImageContainer{
    max-width: 400px;
    max-height: 400px;
  }
  .galleryImage{
    max-width: 400px;
    max-height: 400px;
  }
}

/* ============================================ */
/* 700 Width ================================== */
/* ============================================ */
@media all and (min-width: 700px) {
  .galleryImageContainer{
    max-width: 500px;
    max-height: 500px;
    padding: 25px 15px;
  }
  .galleryImage{
    max-width: 500px;
    max-height: 500px;
  }
}

/* ============================================ */
/* 1000 Width ================================== */
/* ============================================ */
@media all and (min-width: 1000px) {
  .galleryImageContainer{
    max-width: 425px;
    max-height: 425px;
    padding: 0 35px;
  }
  .galleryImage{
    max-width: 425px;
    max-height: 425px;
  }
  #galleryImage01{
    margin-bottom: 150px;
  }
  #galleryImage04{
    margin-top: 150px;
  }
}

/* ============================================ */
/* 1250 Width ================================== */
/* ============================================ */
@media all and (min-width: 1250px) {
  .galleryImageContainer{
    max-width: 500px;
    max-height: 500px;
    padding: 0 35px;
  }
  .galleryImage{
    max-width: 500px;
    max-height: 500px;
  }
}

/* ============================================ */
/* 1440 Width ================================== */
/* ============================================ */
@media all and (min-width: 1440px) {
  .galleryImageContainer{
    max-width: 550px;
    max-height: 550px;
    padding: 0 50px;
  }
  .galleryImage{
    max-width: 550px;
    max-height: 550px;
  }
}