/* ============================================ */
/* 300 Width ================================== */
/* ============================================ */
@media all and (min-width: 300px) {
  #footer{
    width: 100%;
    background: #b2e2d8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
  }
  .fBoxContainer{
    width: 90%;
    margin: 20px 0;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-flow: column wrap;
  }
  .fBox{
    margin: 5px 0;
    flex: 1;
  }
  #fLogoBox{
    display: none;
  }
  .subscriptionBox{
    min-height: 250px;
    min-width: 250px;
    border: blue solid 1px;
    background: lightblue;
  }
  #fCopyrightBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
  }
  .fCopyrightText{
    font-size: 0.8em;
    /* margin: 10px 30px; */
  }
  .fCopyrightLink {
    color: black;
    text-decoration: none;
  }
  .fCopyrightLink:hover, .fCopyrightLink:focus{
    color: #39b8cb;
  }
}

/* ============================================ */
/* 375 Width ================================== */
/* ============================================ */
@media all and (min-width: 375px) {
}

/* ============================================ */
/* 410 Width ================================== */
/* ============================================ */
@media all and (min-width: 410px) {
}

/* ============================================ */
/* 550 Width ================================== */
/* ============================================ */
@media all and (min-width: 550px) {
}

/* ============================================ */
/* 700 Width ================================== */
/* ============================================ */
@media all and (min-width: 700px) {
}

/* ============================================ */
/* 1000 Width ================================== */
/* ============================================ */
@media all and (min-width: 1000px) {
}

/* ============================================ */
/* 1440 Width ================================== */
/* ============================================ */
@media all and (min-width: 1440px) {
}