/* ============================================ */
/* 300 Width ================================== */
/* ============================================ */
@media all and (min-width: 300px) {
  #sGallery{
    width: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    padding: 0 0 50px 0;
  }
  .sGalleryImageContainer{
    flex: 1;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 15px 0;
  }
  .sGalleryImage{
    box-shadow: 8px 8px 10px #aaa;
    border: solid 1px #aaa;
    border-radius: 15px;
    max-width: 250px;
    max-height: 250px;
  }
  .sGalleryImage:hover{
    z-index: 5;
    transition: all 200ms ease-in;
    transform: scale(1.2);
  }
}

/* ============================================ */
/* 375 Width ================================== */
/* ============================================ */
@media all and (min-width: 375px) {
}

/* ============================================ */
/* 410 Width ================================== */
/* ============================================ */
@media all and (min-width: 410px) {
  .sGalleryImage{
    max-width: 300px;
    max-height: 300px;
  }
}

/* ============================================ */
/* 550 Width ================================== */
/* ============================================ */
@media all and (min-width: 550px) {
  .sGalleryImage{
    max-width: 300px;
    max-height: 300px;
  }
}

/* ============================================ */
/* 700 Width ================================== */
/* ============================================ */
@media all and (min-width: 700px) {
  #sGallery{
    flex-flow: row wrap;
  }
  .sGalleryImageContainer{
    flex: calc(100% / 2);
    margin: 0 0;
  }
  .sGalleryImage{
    max-width: 300px;
    max-height: 300px;
  }
}

/* ============================================ */
/* 900 Width ================================== */
/* ============================================ */
@media all and (min-width: 900px) {
  .sGalleryImage{
    max-width: 350px;
    max-height: 350px;
  }
}

/* ============================================ */
/* 1000 Width ================================== */
/* ============================================ */
@media all and (min-width: 1000px) {
  #sGallery{
    flex-flow: row nowrap;
  }
  .sGalleryImageContainer{
    flex: 1;
    margin: 10px;
  }
  .sGalleryImage{
    max-width: 100%;
    max-height: 300px;
  }
}

/* ============================================ */
/* 1250 Width ================================== */
/* ============================================ */
@media all and (min-width: 1250px) {
}

/* ============================================ */
/* 1440 Width ================================== */
/* ============================================ */
@media all and (min-width: 1440px) {
  .sGalleryImageContainer{
    margin: 0;
  }
  .sGalleryImage{
    max-width: 400px;
    max-height: 400px;
  }
}