#massageContainer {
  background-color: var(--sky-1st-9);
}
#massageSectiontitle{
  background-color: var(--sky-3rd-6);
}
.massageSubSectionBoxTitle{
  background-color: var(--sky-3rd-4);
}
.massageSubSectionBox{
  background-color: whitesmoke;
}
