#massageContainer{
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  border: red solid 1px;
}
#massageSectionTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  border: black 2px solid;
  font-family: 'Kaushan Script', cursive, Verdana;
  font-size: 2em;
}
.massageSubSection{
  /* box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.7); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  max-width: 60%;
}
  .massageSubSectionTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    font-family: 'Kaushan Script', cursive, Verdana;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 5px;
    border-bottom: black 2px solid;
  }
  .massageText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    font-family: 'Kaushan Script', Verdana;
    font-size: 1em;
  }
