/* ============================================ */
/* 300 Width ================================== */
/* ============================================ */
@media all and (min-width: 300px) {
  #profile{
    width: 90%;
  }
  .profileTitle{
    font-family: 'Bad Script', cursive;
    letter-spacing: 0.05em;
    font-size: 2em;
    padding: 35px 0;
  }
  .profileText{
    font-family: 'Handlee', cursive;
    font-size: 1.2em;
    padding: 15px 0 0 0;
  }
  .profileListContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    list-style: none;
    padding: 15px 0 35px 0;
  }
  .profileListText{
    font-family: 'Handlee';
    letter-spacing: 0.08em;
    font-size: 1em;
    padding-top: 15px;
    font-style: italic;
  }
}

/* ============================================ */
/* 375 Width ================================== */
/* ============================================ */
@media all and (min-width: 375px) {
  .profileTitle{
    font-size: 3em;
  }
  .profileText{
    font-size: 1.2em;
  }
}

/* ============================================ */
/* 410 Width ================================== */
/* ============================================ */
@media all and (min-width: 410px) {
}

/* ============================================ */
/* 550 Width ================================== */
/* ============================================ */
@media all and (min-width: 550px) {
}

/* ============================================ */
/* 700 Width ================================== */
/* ============================================ */
@media all and (min-width: 700px) {
  .profileText{
    font-size: 1.3em;
    letter-spacing: 0.07em;
  }
}

/* ============================================ */
/* 1000 Width ================================== */
/* ============================================ */
@media all and (min-width: 1000px) {
  #profile{
    width: 90%;
  }
}