/* ============================================ */
/* 300 Width ================================== */
/* ============================================ */
@media all and (min-width: 300px) {
  #massage{
    width: 100%;
    background: #ede7e7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
  }
  .massagebox{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
  }
  .massageFirstBox{
    flex: 1 0;
    display: none;
  }
  .massageSecondBox{
    flex: 2 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }
}

/* ============================================ */
/* 375 Width ================================== */
/* ============================================ */
@media all and (min-width: 375px) {
  .massageFirstBox{
    display: flex;
  }
}

/* ============================================ */
/* 410 Width ================================== */
/* ============================================ */
@media all and (min-width: 410px) {
}

/* ============================================ */
/* 550 Width ================================== */
/* ============================================ */
@media all and (min-width: 550px) {
}

/* ============================================ */
/* 700 Width ================================== */
/* ============================================ */
@media all and (min-width: 700px) {
}

/* ============================================ */
/* 1000 Width ================================== */
/* ============================================ */
@media all and (min-width: 1000px) {
}

/* ============================================ */
/* 1440 Width ================================== */
/* ============================================ */
@media all and (min-width: 1440px) {
}