/* ============================================ */
/* 300 Width ================================== */
/* ============================================ */
@media all and (min-width: 300px) {
  #sharedParallaxDivider{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    background-image: url('/images/pages/landing.jpg');
    background-color: whitesmoke; /* Backup color if image fails to load. */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* ============================================ */
/* 375 Width ================================== */
/* ============================================ */
@media all and (min-width: 375px) {
}

/* ============================================ */
/* 410 Width ================================== */
/* ============================================ */
@media all and (min-width: 410px) {
}

/* ============================================ */
/* 550 Width ================================== */
/* ============================================ */
@media all and (min-width: 550px) {
}

/* ============================================ */
/* 700 Width ================================== */
/* ============================================ */
@media all and (min-width: 700px) {
}

/* ============================================ */
/* 1000 Width ================================== */
/* ============================================ */
@media all and (min-width: 1000px) {
}

/* ============================================ */
/* 1440 Width ================================== */
/* ============================================ */
@media all and (min-width: 1440px) {
}