/* ============================================ */
/* 300 Width ================================== */
/* ============================================ */
@media all and (min-width: 300px) {
  #cSocial{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
  }
  .cIconContainer{
    height: 20px;
    width: 20px;
    padding: 10px;
    margin: 5px;
    border: black solid 3px;
    border-radius: 50%;
    position: relative;
  }
  .cIcon{
    height: inherit;
    width: inherit;
  }
  .cInsta:hover, .cInsta:focus{
    background-color: #C13584;
  }
  .cFB:hover, .cFB:focus{
    background-color: #3b5998;
  }
  .cMassageBook:hover, .cMassageBook:focus{
    background-color: #ee5b2f;
  }
  .tooltip .tooltiptext {
    display: none;
  }
}

/* ============================================ */
/* 375 Width ================================== */
/* ============================================ */
@media all and (min-width: 375px) {
  .cIconContainer{
    height: 30px;
    width: 30px;
  }
}

/* ============================================ */
/* 410 Width ================================== */
/* ============================================ */
@media all and (min-width: 410px) {
  #cSocial{
    justify-content: center;
  }
  .cIconContainer{
    height: 35px;
    width: 35px;
    padding: 10px;
    margin: 10px;
  }
}

/* ============================================ */
/* 550 Width ================================== */
/* ============================================ */
@media all and (min-width: 550px) {
}

/* ============================================ */
/* 700 Width ================================== */
/* ============================================ */
@media all and (min-width: 700px) {
  .cIconContainer{
    height: 40px;
    width: 40px;
    padding: 10px;
    margin: 0 20px 0 20px;
  }
}

/* ============================================ */
/* 1000 Width ================================== */
/* ============================================ */
@media all and (min-width: 1000px) {
  #cSocial{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    padding: 20px 0 40px 0;
  }
  .cIconContainer{
    height: 40px;
    width: 40px;
    padding: 10px;
    margin: 0 80px;
  }
  /* Tooltip text */
  .tooltip .tooltiptext {
    display: inline-block;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    z-index: 1;
    content: " ";
    position: absolute;
    border-radius: 6px;
    border-style: solid;
    border-color: transparent transparent black transparent;
    width: 200px;
    top: 110%;
    left: 50%;
    margin-left: -100px; /* Use half of the width (120/2 = 60), to center the tooltip */
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
}

/* ============================================ */
/* 1440 Width ================================== */
/* ============================================ */
@media all and (min-width: 1440px) {
  #cSocial{
    max-width: 1440px;
    justify-content: center;
  }
  .cIconContainer{
    height: 50px;
    width: 50px;
    padding: 15px;
    margin: 0 80px;
  }
}