/* ============================================ */
/* 300 Width ================================== */
/* ============================================ */
@media all and (min-width: 300px) {
  #navContainer{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0%, 0%, 0%, 0.4);
    box-shadow: 1px 1px 2px rgba(0,0,0,.5); /* Soften Bot Edge */
    font-family: 'Handlee', cursive;
    letter-spacing: 0.05em;
  }
  #backToTopButton{
    position: fixed;
    right: 0;
    bottom: 0;
    border: 2px black solid;
    border-radius: 50%;
    margin: 15px;
    z-index: 100;
  }
  #backToTopButton:hover, #backToTopButton:focus {
    background-color: rgba(89, 221, 226, 0.5);
  }
  #backToTopIcon{
    height: 65px;
    width: 65px;
  }
  .navLink{
    font-size: 1em;
    text-decoration: none;
    color: #39b8cb;
    text-shadow: 0.5px 0.5px black;
    padding: 0 5px;
    transition: all 0.2s ease 0;
  }
  .navLink:hover, .navLink:focus {
    color: #59dde2;
  }
}

/* ============================================ */
/* 375 Width ================================== */
/* ============================================ */
@media all and (min-width: 375px) {
  #navContainer{
    box-shadow: 1px 2px 3px rgba(0,0,0,.5); /* Soften Bot Edge */
  }
  .navLink{
    font-size: 1.1em;
    padding: 0 7px;
  }
}

/* ============================================ */
/* 410 Width ================================== */
/* ============================================ */
@media all and (min-width: 410px) {
  #navContainer{
    box-shadow: 1px 1px 3px rgba(0,0,0,.5); /* Soften Bot Edge */
  }
  .navLink{
    font-size: 1.2em;
    padding: 0 8px;
  }
}

/* ============================================ */
/* 550 Width ================================== */
/* ============================================ */
@media all and (min-width: 550px) {
  .navLink{
    font-size: 1.5em;
    padding: 0 12px;
  }
}

/* ============================================ */
/* 700 Width ================================== */
/* ============================================ */
@media all and (min-width: 700px) {
  .navLink{
    font-size: 2em;
    padding: 0 20px;
  }
}

/* ============================================ */
/* 1000 Width ================================== */
/* ============================================ */
@media all and (min-width: 1000px) {
  .navLink{
    font-size: 2.3em;
    padding: 0 30px;
  }
}