/* ============================================ */
/* 300 Width ================================== */
/* ============================================ */
@media all and (min-width: 300px) {
  #cAddress{
    width: 100%;
    background: #ede7e7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
  }
  .cAddressSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin: 10px 0;
  }
  .cAddTitle{
    text-decoration: underline;
    font-size: 1.2em;
  }
  .cAddText{

  }
}

/* ============================================ */
/* 375 Width ================================== */
/* ============================================ */
@media all and (min-width: 375px) {
}

/* ============================================ */
/* 410 Width ================================== */
/* ============================================ */
@media all and (min-width: 410px) {
}

/* ============================================ */
/* 550 Width ================================== */
/* ============================================ */
@media all and (min-width: 550px) {
}

/* ============================================ */
/* 700 Width ================================== */
/* ============================================ */
@media all and (min-width: 700px) {
  .cAddTitle{
    font-size: 1.3em;
  }
}

/* ============================================ */
/* 1000 Width ================================== */
/* ============================================ */
@media all and (min-width: 1000px) {
  #cAddress{
    flex-flow: row wrap;
  }
  .cAddressSection{
    flex: 1 0 calc(45% - 15px);
    margin: 20px 0;
  }
  .cAddTitle{
    font-size: 1.4em;
  }
  .cAddText{
    font-size: 1.1em;
  }
}

/* ============================================ */
/* 1440 Width ================================== */
/* ============================================ */
@media all and (min-width: 1440px) {
  .cAddTitle{
    font-size: 1.5em;
  }
  .cAddText{
    font-size: 1.2em;
  }
}