:root {
    /* --dev-highlight:#B2B15D;
    --dev-background:#8FA855;
    --dev-text:#301F1C;
    --dev-highlight-text:#CA4923;
    --dev-borders:#EFCA72; */
    
    --dev-highlight:#B2B15D;
    --dev-background:#8FA855;
    --dev-text:#301F1C;
    --dev-highlight-text:#CA4923;
    --dev-borders:#EFCA72;
}

*{
  margin:0;
  padding:0;
}
html, body{
  height:100%;
}
#appContainer{
  min-height:100%;
}
#appNavigation{
}
#appBody{
  Display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#appFooter{
  height: 150px;
  flex: 1;
}
