:root {
    /* Color Scheme: Cheerful */
    /* --dev-highlight:#00c853;
    --dev-background:#80cbc4;
    --dev-text:#050403;
    --dev-highlight-text:#050403;
    --dev-borders:#050403; */

    /* Color Scheme: Victory */
    /* --dev-highlight:#D6C82D;
    --dev-background:#2D3BD6;
    --dev-text:#F6F7F8;
    --dev-highlight-text:#050403;
    --dev-borders:#050403; */

    /* Color Scheme: Obnoxios */
    /* --dev-highlight:#2B9533;
    --dev-background:#952B8D;
    --dev-text:#050403;
    --dev-highlight-text:#F6F7F8;
    --dev-borders:#050403; */

    /* Color Scheme: Abyss */
    --dev-highlight:#bdbdbd;
    --dev-background:#424242;
    --dev-text:#F6F7F8;
    --dev-highlight-text:#050403;
    --dev-borders:#050403;
}

*{
  margin:0;
  padding:0;
}
html, body{
  height:100%;
}
#appContainer{
  min-height:100%;
}
#appNavigation{
}
#appBody{
  Display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#appFooter{
  height: 150px;
  flex: 1;
}
