:root {
    /* Color Scheme: Skyward */
    --sky-1st-9: rgba( 47,139,111,0.10);
    --sky-1st-0: rgba( 47,139,111,0.25);
    --sky-1st-1: rgba( 47,139,111,0.50);
    --sky-1st-2: rgba( 47,139,111,0.75);
    --sky-1st-3: rgba(124,195,174,1);
    --sky-1st-4: rgba( 76,162,136,1);
    --sky-1st-5: rgba( 25,119, 91,1);
    --sky-1st-6: rgba(  8, 95, 68,1);

    --sky-2nd-9: rgba( 54, 93,138,0.10);
    --sky-2nd-1: rgba( 54, 93,138,0.25);
    --sky-2nd-2: rgba( 54, 93,138,0.50);
    --sky-2nd-3: rgba( 54, 93,138,0.75);
    --sky-2nd-4: rgba(129,159,193,1);
    --sky-2nd-5: rgba( 82,119,160,1);
    --sky-2nd-6: rgba( 32, 73,118,1);
    --sky-2nd-7: rgba( 15, 52, 93,1);

    --sky-3rd-9: rgba(104,183, 62,0.10);
    --sky-3rd-1: rgba(104,183, 62,0.25);
    --sky-3rd-2: rgba(104,183, 62,0.50);
    --sky-3rd-3: rgba(104,183, 62,0.75);
    --sky-3rd-4: rgba(177,232,148,1);
    --sky-3rd-5: rgba(140,213,100,1);
    --sky-3rd-6: rgba( 77,157, 33,1);
    --sky-3rd-7: rgba( 51,125, 11,1);

    --sky-transparancy-0: rgba(0, 0, 0, 0.5);
    --sky-white-0: rgba(245,245,245, 0.5);

}
/*
Fonts (In order of use):
'Kaushan Script', cursive, Verdana
'Kaushan Script', Verdana
'Muli', sans-serif

 */

*{
  margin:0;
  padding:0;
}
html, body{
  height:100%;
}
#routesBody{
  min-height:100%;
}
#routesNavigation{
}
#routesBody{
  Display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100%;
  background-color: whitesmoke;
}
#routesFooter{
  height: 150px;
  flex: 1;
}


/* App Wide Styles - com<name> - referring to Component */

/* Most Smartphones Mobiles (Portrait) */
@media (min-width: 320px) and (max-width: 480px) {
  #routesBody{ background-color: red; }
}
/* Low Resolution Tablets, Mobiles (Landscape) */
@media (min-width: 481px) and (max-width: 767px) {
  #routesBody{ background-color: blue; }
}
/* Tablets, Ipads (portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
  #routesBody{ background-color: green; }
}



/* =========================== */
/* Laptops & Desktops ======== */
/* 1025px To 1280px ========== */
/* =========================== */
/* Laptops, Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .comContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 100%;
    padding-top: 50px;
    padding-bottom: 25px;
  }
  .comSectiontitle{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    border-top: black 2px solid;
    border-bottom: black 2px solid;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Kaushan Script', cursive, Verdana;
    font-size: 2.0em;
    margin-bottom: 30px;
  }
  .comSectionContainer{
    /* box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.7); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    max-width: 80%;
  }
  .comSubSectionContainer{
    /* box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.7); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    max-width: 100%;
    margin: 10px;
  }
  .comSubSectionTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    border: black 2px solid;
    font-family: 'Kaushan Script', cursive, Verdana;
    font-size: 1.5em;
    color: black;
  }
  .comSubSectionText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    font-family: 'Verdana';
    font-size: 1em;
    margin: 15px;
  }
  .comTextUnderline{
    text-decoration: underline;
  }
  .comVerticalDivider{
    min-height: 100%;
    min-width: 0;
    border-left: 1px black solid;
    height: 175px;
  }
  .comRows{
    flex-direction: row;
  }

  /* Box Designs */
  .comSubSectionBoxContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }
  .comSubSectionBox{
    margin: 15px;
    flex: 1 0 calc(30% - 15px);
    border: 2px black solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    min-height: 300px;
    max-height: 300px;
  }
  .comSubSectionBoxTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    border-bottom: black 2px solid;
    font-family: 'Kaushan Script', cursive, Verdana;
    font-size: 1.5em;
  }


}

/* Large Desktops */
@media (min-width: 1281px) {
  #routesBody{ background-color: purple; }
}





















.holder{}
