/* ============================================ */
/* 300 Width ================================== */
/* ============================================ */
@media all and (min-width: 300px) {
  #modalitiesContainer {
    background-color: var(--sky-white-4);
    /* background-image: url('/images/skyward_assorted_005.jpg'); */
    position: relative;
    z-index: 0;
    min-width: 100%;
    background-image: url('/images/about/sky_about_001.jpg');
    background-color: white; /* Backup co\lor if image fails to load. */
    background-attachment: fixed; /* Keeps the image in place to create parallax. */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .modalitiesTitleColor{
  }
  .modalitiesAllStyleContainer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100%;
  }
  .modalitiesIndividualStyle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    flex: 1 0 calc(100% -20px);
    padding: 15px;
    margin: 15px;
    background-color: var(--sky-white-2);
    box-shadow: 4px 4px 4px var(--sky-transparancy-3);
    border-left: 2px var(--sky-transparancy-0) solid;
    border-right: 2px var(--sky-transparancy-0) solid;
    position: relative;
    max-width: 80%;
  }
  .modalitiesOverSubTitle{
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    top: 0;
    width: 100%;
    height: 10px;
  }
  .modalitiesTitleColor1{
    background-color: var(--sky-1st-4);
  }
  .modalitiesTitleColor2{
    background-color: var(--sky-3rd-5);
  }
  .modalitiesTitleColor3{
    background-color: var(--sky-4th-3);
  }
  .modalitiesTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-top: black 2px solid; */
    border-bottom: black 2px solid;
    font-family: Palatino Linotype;
    font-size: 1.25em;
    margin-bottom: 5px;
  }
  .modalitiesText{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Palatino Linotype';
    font-size: 0.9em;
  }
  .modalitiesVerticalDivider{
    min-height: 100%;
    width: 2px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:
     -1px 0 0 rgba(0,0,0,0.1),
     1px 0 0 rgba(255,255,255,0.6);
    content: "";
  }
  .modalities{

  }
}

/* ============================================ */
/* 700 Width ================================== */
/* ============================================ */
@media all and (min-width: 700px) {
  #modalitiesContainer {
    background-color: var(--sky-white-4);
    /* background-image: url('/images/skyward_assorted_005.jpg'); */
    position: relative;
    z-index: 0;
    min-width: 100%;
    background-image: url('/images/about/sky_about_001.jpg');
    background-color: white; /* Backup co\lor if image fails to load. */
    background-attachment: fixed; /* Keeps the image in place to create parallax. */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .modalitiesTitleColor{
  }
  .modalitiesAllStyleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
  }
  .modalitiesIndividualStyle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    width: 80%;
    padding: 15px;
    margin: 15px;
    background-color: var(--sky-white-2);
    box-shadow: 4px 4px 4px var(--sky-transparancy-3);
    border-left: 2px var(--sky-transparancy-0) solid;
    border-right: 2px var(--sky-transparancy-0) solid;
    position: relative;
  }
  .modalitiesOverSubTitle{
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    top: 0;
    width: 100%;
    height: 10px;
  }
  .modalitiesTitleColor1{
    background-color: var(--sky-1st-4);
  }
  .modalitiesTitleColor2{
    background-color: var(--sky-3rd-5);
  }
  .modalitiesTitleColor3{
    background-color: var(--sky-4th-3);
  }
  .modalitiesTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-top: black 2px solid; */
    border-bottom: black 2px solid;
    font-family: Palatino Linotype;
    font-size: 1.25em;
    margin-bottom: 5px;
  }
  .modalitiesText{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Palatino Linotype';
    font-size: 0.9em;
  }
  .modalitiesVerticalDivider{
    min-height: 100%;
    width: 2px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:
     -1px 0 0 rgba(0,0,0,0.1),
     1px 0 0 rgba(255,255,255,0.6);
    content: "";
  }
  .modalities{

  }
}

/* ============================================ */
/* 1000 Width ================================== */
/* ============================================ */
@media all and (min-width: 1000px) {
  .modalitiesTitle{
    font-size: 1.75em;
  }
  .modalitiesText{
    font-size: 1.2em;
  }
}

/* ============================================ */
/* 1900 Width ================================== */
/* ============================================ */
@media all and (min-width: 1900px) {
  .modalitiesIndividualStyle{
    width: 60%;
  }
}

/* ============================================ */
/* Original Styles ============================ */
/* ============================================ */
@media all and (min-width: 10000px) {
  #modalitiesContainer {
    background-color: var(--sky-white-4);
    /* background-image: url('/images/skyward_assorted_005.jpg'); */
    position: relative;
    z-index: 0;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .modalitiesTitleColor{
  }
  #modalitiesHeader{
    position: absolute;
    bottom:0;
    left:0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--sky-2nd-4);
    z-index: -1;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    min-width: 100%;
  }
  .modalitiesAllStyleContainer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .modalitiesIndividualStyle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
    width: 280px;
    flex: 1 0 calc(27% - 10px);
    padding: 15px;
    margin: 15px;
    background-color: var(--sky-white-2);
    box-shadow: 4px 4px 4px var(--sky-transparancy-3);
    border-left: 2px var(--sky-transparancy-0) solid;
    border-right: 2px var(--sky-transparancy-0) solid;
    position: relative;
  }
  .modalitiesOverSubTitle{
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    top: 0;
    width: 100%;
    height: 10px;
  }
  .modalitiesTitleColor1{
    background-color: var(--sky-1st-4);
  }
  .modalitiesTitleColor2{
    background-color: var(--sky-3rd-5);
  }
  .modalitiesTitleColor3{
    background-color: var(--sky-4th-3);
  }
  .modalitiesCenterStyle{
    margin-bottom: 100px;
  }
  .modalitiesTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-top: black 2px solid; */
    border-bottom: black 2px solid;
    font-family: Palatino Linotype;
    font-size: 1.5em;
    margin-bottom: 5px;
  }
  .modalitiesText{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Palatino Linotype';
    font-size: 0.9em;
  }
  .modalitiesVerticalDivider{
    min-height: 100%;
    width: 2px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:
     -1px 0 0 rgba(0,0,0,0.1),
     1px 0 0 rgba(255,255,255,0.6);
    content: "";
  }
  .modalities{

  }
}
