#aboutContainer{
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}
#aboutSectionTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  border: white 2px solid;
  font-family: 'Kaushan Script', cursive, Verdana;
  font-size: 2em;
  background: rgba(0, 0, 0, 0.55);
  color: white;
}
.aboutContentContainer{
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: rgba(0, 0, 0, 0.55);
  border-radius: 25px;
  max-width: 70%;
  margin: 20px;
  padding: 10px;
  padding-bottom: 35px;
}
.aboutTextContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  max-width: 50%;
  margin: 10px;
}
.aboutSubSection{
  /* box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.7); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 35px;
}
  .aboutSubSectionTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    font-family: 'Kaushan Script', cursive, Verdana;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 5px;
    border-bottom: white 2px solid;
  }
  .aboutText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    font-family: 'Kaushan Script', Verdana;
    font-size: 1em;
  }

/* Image Side */
#kelliAboutImage{
  width: 300px;
  height: 300px;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}
.aboutImageSubSection{
  /* box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.7); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.aboutImageText{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1;
  font-family: 'Kaushan Script', Verdana;
  font-size: 0.7em;
}
