/* ============================================ */
/* 300 Width ================================== */
/* ============================================ */
@media all and (min-width: 300px) {
  #profile{
    width: 80%;
  }
  .profileTitle{
    font-family: 'Bad Script', cursive;
    font-size: 2.5em;
  }
  .profileText{
    font-family: 'Handlee', cursive;
    letter-spacing: 0.05em;
    font-size: 1.1em;
    padding-top: 15px;
  }
}

/* ============================================ */
/* 375 Width ================================== */
/* ============================================ */
@media all and (min-width: 375px) {
  .profileTitle{
    font-size: 3em;
  }
  .profileText{
    font-size: 1.2em;
  }
}

/* ============================================ */
/* 410 Width ================================== */
/* ============================================ */
@media all and (min-width: 410px) {
}

/* ============================================ */
/* 550 Width ================================== */
/* ============================================ */
@media all and (min-width: 550px) {
}

/* ============================================ */
/* 700 Width ================================== */
/* ============================================ */
@media all and (min-width: 700px) {
  .profileText{
    font-size: 1.3em;
    letter-spacing: 0.07em;
  }
}

/* ============================================ */
/* 1000 Width ================================== */
/* ============================================ */
@media all and (min-width: 1000px) {
  #profile{
    width: 90%;
  }
}