/* ============================================ */
/* 300 Width ================================== */
/* ============================================ */
@media all and (min-width: 300px) {
  #mTitle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
  }
  .mTitleHeader{
    font-family: 'Bad Script', cursive;
    font-size: 2.5em;
    position: relative;
  }
  #mTitleDivider{
    width: 250px;
    height: 50px;
    margin-bottom: 15px;
  }
  .mTitleText{
    font-size: 1em;
    width: 80%;
  }
}

/* ============================================ */
/* 375 Width ================================== */
/* ============================================ */
@media all and (min-width: 375px) {
  .mTitleHeader{
    font-size: 3em;
  }
  .mTitleText{
    font-size: 1em;
  }
}

/* ============================================ */
/* 410 Width ================================== */
/* ============================================ */
@media all and (min-width: 410px) {
}

/* ============================================ */
/* 550 Width ================================== */
/* ============================================ */
@media all and (min-width: 550px) {
}

/* ============================================ */
/* 700 Width ================================== */
/* ============================================ */
@media all and (min-width: 700px) {
  .mTitleText{
    font-size: 1.2em;
  }
}

/* ============================================ */
/* 1000 Width ================================== */
/* ============================================ */
@media all and (min-width: 1000px) {
}

/* ============================================ */
/* 1440 Width ================================== */
/* ============================================ */
@media all and (min-width: 1440px) {
}