/* ============================================ */
/* 300 Width ================================== */
/* ============================================ */
@media all and (min-width: 300px) {
  #massageSegway{
    min-width: 100%;
    min-height: 50vh;
    background-image: url('/images/pages/Gallery01.jpg');
    background-color: ede7e7; /* Backup co\lor if image fails to load. */
    background-attachment: fixed; /* Keeps the image in place to create parallax. */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* ============================================ */
/* 375 Width ================================== */
/* ============================================ */
@media all and (min-width: 375px) {
}

/* ============================================ */
/* 410 Width ================================== */
/* ============================================ */
@media all and (min-width: 410px) {
}

/* ============================================ */
/* 550 Width ================================== */
/* ============================================ */
@media all and (min-width: 550px) {
}

/* ============================================ */
/* 700 Width ================================== */
/* ============================================ */
@media all and (min-width: 700px) {
}

/* ============================================ */
/* 1000 Width ================================== */
/* ============================================ */
@media all and (min-width: 1000px) {
}

/* ============================================ */
/* 1440 Width ================================== */
/* ============================================ */
@media all and (min-width: 1440px) {
}