/* ============================================ */
/* 300 Width ================================== */
/* ============================================ */
@media all and (min-width: 300px) {
  #shareQuoteDivider{
    height: 200px;
    width: 100%;
    background: #ffffff;
    background-color: #80C3F9; /* Backup color if image fails to load. */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
  }
  .shareQuoteContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    text-align: center;
  }
  .shareQuoteText{
    width: 80%;
    letter-spacing: 0.2px;
    font-family: 'Bad Script', cursive;
    font-size: 1em;
  }
  .shareQuoteAuthor{
    width: 80%;
    font-size: 0.8em;
    font-family: 'Handlee', cursive;
    letter-spacing: 0.5px;
  }
}

/* ============================================ */
/* 375 Width ================================== */
/* ============================================ */
@media all and (min-width: 375px) {
}

/* ============================================ */
/* 410 Width ================================== */
/* ============================================ */
@media all and (min-width: 410px) {
  .shareQuoteText{
    font-size: 1.2em;
  }
  .shareQuoteAuthor{
    margin-left: 50px;
    font-size: 1em;
    letter-spacing: 0.5px;
  }
}

/* ============================================ */
/* 550 Width ================================== */
/* ============================================ */
@media all and (min-width: 550px) {
}

/* ============================================ */
/* 700 Width ================================== */
/* ============================================ */
@media all and (min-width: 700px) {
}

/* ============================================ */
/* 1000 Width ================================== */
/* ============================================ */
@media all and (min-width: 1000px) {
  .shareQuoteText{
    width: 70%;
    font-size: 1.4em;
  }
  .shareQuoteAuthor{
    width: 70%;
    margin-left: 50px;
    font-size: 1.1em;
    letter-spacing: 0.5px;
  }
}

/* ============================================ */
/* 1440 Width ================================== */
/* ============================================ */
@media all and (min-width: 1440px) {
}