/* ============================================ */
/* 300 Width ================================== */
/* ============================================ */
@media all and (min-width: 300px) {
  #fSocial{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
  }
  .fIconContainer{
    height: 40px;
    width: 40px;
    padding: 20px;
    margin: 10px;
    border: black solid 5px;
    border-radius: 50%;
  }
  .fIcon{
    height: inherit;
    width: inherit;
  }
  .fInstagramIcon:hover, .fInstagramIcon:focus{
    background-color: #C13584;
  }
  .fFacebookIcon:hover, .fFacebookIcon:focus{
    background-color: #3b5998;
  }
}

/* ============================================ */
/* 375 Width ================================== */
/* ============================================ */
@media all and (min-width: 375px) {
}

/* ============================================ */
/* 410 Width ================================== */
/* ============================================ */
@media all and (min-width: 410px) {
}

/* ============================================ */
/* 550 Width ================================== */
/* ============================================ */
@media all and (min-width: 550px) {
}

/* ============================================ */
/* 700 Width ================================== */
/* ============================================ */
@media all and (min-width: 700px) {
  .fIconContainer{
    height: 80px;
    width: 80px;
    padding: 30px;
    margin: 20px;
  }
}

/* ============================================ */
/* 1000 Width ================================== */
/* ============================================ */
@media all and (min-width: 1000px) {
}

/* ============================================ */
/* 1440 Width ================================== */
/* ============================================ */
@media all and (min-width: 1440px) {
  #fSocial{
    max-width: 1440px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
  }
  .fIconContainer{
    height: 80px;
    width: 80px;
    padding: 30px;
    margin: 20px;
  }
}