/* ============================================ */
/* 300 Width ================================== */
/* ============================================ */
@media all and (min-width: 300px) {
  #mModalities{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 0 0 50px 0;
  }
  .mModalitiesText{
    font-size: 1em;
    width: 100%;
    padding: 5px;
  }
  .mModalitiesBox{
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0 0;
  }
  .mModalitiesBoxHeader{
    font-family: 'Bad Script', cursive;
    font-size: 1.5em;
  }
}

/* ============================================ */
/* 375 Width ================================== */
/* ============================================ */
@media all and (min-width: 375px) {
  .mModalitiesBoxHeader{
    font-size: 1.8em;
  }
}

/* ============================================ */
/* 410 Width ================================== */
/* ============================================ */
@media all and (min-width: 410px) {
  .mModalitiesBoxHeader{
    font-size: 2em;
  }
}

/* ============================================ */
/* 550 Width ================================== */
/* ============================================ */
@media all and (min-width: 550px) {
  .mModalitiesBoxHeader{
    font-size: 2.2em;
  }
}

/* ============================================ */
/* 700 Width ================================== */
/* ============================================ */
@media all and (min-width: 700px) {
  #mModalities{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .mModalitiesText{
    font-size: 1.4em;
  }
  .mModalitiesBox{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}

/* ============================================ */
/* 1000 Width ================================== */
/* ============================================ */
@media all and (min-width: 1000px) {
}

/* ============================================ */
/* 1440 Width ================================== */
/* ============================================ */
@media all and (min-width: 1440px) {
  #mModalities{
    max-width: 1440px;
  }
}