/* ============================================ */
/* 300 Width ================================== */
/* ============================================ */
@media all and (min-width: 300px) {
  #nImage{
    width: 100%;

  }
  #nImageImage{
    width: 100%;
    height: auto;
  }
}

/* ============================================ */
/* 375 Width ================================== */
/* ============================================ */
@media all and (min-width: 375px) {
}

/* ============================================ */
/* 410 Width ================================== */
/* ============================================ */
@media all and (min-width: 410px) {
}

/* ============================================ */
/* 700 Width ================================== */
/* ============================================ */
@media all and (min-width: 700px) {
  #nImageImage{
    max-width: 80%;
    max-height: 400px;
  }
}

/* ============================================ */
/* 800 Width ================================== */
/* ============================================ */
@media all and (min-width: 800px) {
  #nImageImage{
    max-height: 450px;
  }
}

/* ============================================ */
/* 900 Width ================================== */
/* ============================================ */
@media all and (min-width: 900px) {
}

/* ============================================ */
/* 1000 Width ================================== */
/* ============================================ */
@media all and (min-width: 1000px) {
  #nImageImage{
    max-width: 100%;
    max-height: auto;
  }
}

/* ============================================ */
/* 1440 Width ================================== */
/* ============================================ */
@media all and (min-width: 1440px) {
  #nImageImage{
    max-width: 1100px;
    max-height: 600px;
  }
}