#navContainer{
  background: #6888DF;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: #F4F5F5 2px solid;
}
.navBox{
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.navLink{
  max-height:100px;
  max-width:100px;
  font-size: 2em;
  text-decoration: none;
  color: #333333;
  background: #6888DF;
  border: #6888DF 1px solid;
  border-bottom: none;
  padding: 20px;
  display: flex; /* Centers Text */
  justify-content: center;/* Centers Text */
  align-items: center;/* Centers Text */
  transition: 0.35s linear;
}
.navLink:hover{
  background: #416EBE;
  color: #333333;
  border: #F4F5F5 1px solid;
  border-bottom: none;
}
