#naviContainer{
  position: absolute;
  min-width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  z-index: 5;
  border: 2px solid transparent;
}
.naviLink{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  height: 100%;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.35s ease-in-out;
  border: 2px rgba(0, 0, 0, 0) solid; /* Required for seamless highlighting */
  text-decoration: none;
}
.naviLinkHighlightBlue:hover, .naviLinkHighlightBlue:focus{
  border: 2px Blue solid;
  box-shadow: 5px 0 2px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.25);
}
.naviLinkHighlightGreen:hover, .naviLinkHighlightGreen:focus{
  border: 2px Green solid;
  box-shadow: 5px 0 2px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.25);
}
.naviLinkHighlightYellow:hover, .naviLinkHighlightYellow:focus{
  border: 2px Gold solid;
  box-shadow: 5px 0 2px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.25);
}
.naviLinkHighlightRed:hover, .naviLinkHighlightRed:focus{
  border: 2px Red solid;
  box-shadow: 5px 0 2px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.25);
}
.naviLinkHighlightPurple:hover, .naviLinkHighlightPurple:focus{
  border: 2px Purple solid;
  box-shadow: 5px 0 2px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.25);
}
.naviLinkHighlightBrown:hover, .naviLinkHighlightBrown:focus{
  border: 2px SaddleBrown solid;
  box-shadow: 5px 0 2px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.25);
}
.naviLinkHighlightWhite:hover, .naviLinkHighlightWhite:focus{
  border: 2px White solid;
  box-shadow: 5px 0 2px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.25);
}

.naviLinkText{
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  font-family: 'Kaushan Script', cursive, Verdana;
  color: var(--8);
}
.borderBlue{
  border-top: 3px Blue solid;
}
.borderGreen{
  border-top: 3px Green solid;
}
.borderYellow{
  border-top: 3px Gold solid;
}
.borderRed{
  border-top: 3px Red solid;
}
.borderPurple{
  border-top: 3px Purple solid;
}
.borderBrown{
  border-top: 3px SaddleBrown solid;
}
.borderWhite{
  border-top: 3px White solid;
}
