#createMessageContainer {
  height: auto;
  width: 100%;
}
.formFieldContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.formField {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}
.formTitle{
  font-size: 1.5em;
  border-bottom: var(--dev-borders) 1px solid;
}
.formTextarea{
  font-size: 1em;
}
.formButton{
  font-size: 1em;
  text-decoration: none;
  color: var(--dev-text);
  background: var(--dev-background);
  border: var(--dev-background) 1px solid;
  padding: 7px;
  magin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s linear;
}
.formButton:hover{
  background: var(--dev-highlight);
  color: var(--dev-highlight-text);
  border: var(--dev-borders) 1px solid;
}
