#messageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.messageDisplay {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  max-width: 1000px;
}
.messageButton{
  flex: 1;
  font-size: 2em;
  text-decoration: none;
  color: var(--dev-text);
  background: var(--dev-background);
  border: var(--dev-background) 2px solid;
  padding: 20px;
  magin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s linear;
}
.messageButton:hover{
  background: var(--dev-highlight);
  color: var(--dev-highlight-text);
  border: var(--dev-borders) 2px solid;
}
.messageHeader{
  flex: 1;
  font-size: 4em;
  margin: 30px;
  border-bottom: var(--dev-borders) 3px solid;
}
.messageText{
  margin: 8px;
  font-size: 2em;
  list-style-type: none;
}
.messageTextContainer{
  width: 70%;
  margin-bottom: 50px;
}
