/* ============================================ */
/* 300 Width ================================== */
/* ============================================ */
@media all and (min-width: 300px) {
  #nInfo{
    width: 90%;
  }
  .nInfoText{
    font-family: 'Handlee', cursive;
    font-size: 1em;
    padding: 10px 0 10px 0;
  }
  .nInfoEmphesis{
    padding: 25px 0 25px 0;
    font-size: 1.2em;
  }
}

/* ============================================ */
/* 375 Width ================================== */
/* ============================================ */
@media all and (min-width: 375px) {
}

/* ============================================ */
/* 410 Width ================================== */
/* ============================================ */
@media all and (min-width: 410px) {
}

/* ============================================ */
/* 550 Width ================================== */
/* ============================================ */
@media all and (min-width: 550px) {
}

/* ============================================ */
/* 700 Width ================================== */
/* ============================================ */
@media all and (min-width: 700px) {
  .nInfoText{
    font-size: 1.2em;
    letter-spacing: 0.07em;
  }
  .nInfoEmphesis{
    font-size: 1.5em;
  }
}

/* ============================================ */
/* 1000 Width ================================== */
/* ============================================ */
@media all and (min-width: 1000px) {
  #nInfo{
    width: 90%;
  }
}