/* /Users/blaineanderson/Coding/skyward-therapies/node_modules/react-alice-carousel/lib/alice-carousel.css */
/* ============================================ */
/* 300 Width ================================== */
/* ============================================ */
@media all and (min-width: 300px) {
  .feedInstagram{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background: #b2e2d8;
    background-image: url('/images/pages/segment2.jpg');
    background-color: ede7e7; /* Backup co\lor if image fails to load. */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .fICarouselContainer {
    position: relative;
    width: 80%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    overflow: hidden;
    padding: 10px;
    padding-top: 30px;
  }
  .fICarouselChildren {
    width: 100%;
    position: relative;
    border-radius: 15px;
  }
  .fICarouselDots {
    width: 100%;
    text-align: center;
    z-index: 100;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fICarouselDot {
    font-size: 1.5em;
    cursor: pointer;
    text-shadow: 1px 1px 1px #fff;
    margin: 15px;
  }
  .fITitle{
    border-bottom: 1px solid black;
    font-size: 1.2em;
  }
  .fITitleButton{
    text-decoration: none;
    color: black;
  }
  .fITitleButton:hover, .fITitleButton:focus{
    color: #39b8cb;
  }
  .fIItemContainer{
    width: 100%;
    height: 100%;
  }
  .fIItem{
    height: 225px;
    width: 225px;
    border-radius: 25px;
    border: 2px solid black;
    filter: saturate(100%) brightness(100%);
    transition-property: -moz-filter, -ms-filter, -o-filter, -webkit-filter, filter;
    transition-duration: 0.4s;
  }
  .fIItem:hover {
    filter: saturate(150%) brightness(125%);
  }
}

/* ============================================ */
/* 375 Width ================================== */
/* ============================================ */
@media all and (min-width: 375px) {
}

/* ============================================ */
/* 410 Width ================================== */
/* ============================================ */
@media all and (min-width: 410px) {
  .fITitle{
    font-size: 1.5em;
  }
  .fIItem{
    height: 300px;
    width: 300px;
  }
}

/* ============================================ */
/* 550 Width ================================== */
/* ============================================ */
@media all and (min-width: 550px) {
  .fITitle{
    width: 90%;
    font-size: 1.5em;
  }
  .fIItem{
    height: 300px;
    width: 300px;
  }
}

/* ============================================ */
/* 700 Width ================================== */
/* ============================================ */
@media all and (min-width: 700px) {
  .feedInstagram{
    height: 600px;
  }
  .fICarouselContainer {
    height: 450px;
  }
  .fITitle{
    width: 90%;
    font-size: 1.5em;
  }
  .fIItem{
    height: 400px;
    width: 400px;
  }
}

/* ============================================ */
/* 1000 Width ================================== */
/* ============================================ */
@media all and (min-width: 1000px) {
  .fITitle{
    width: 60%;
    font-size: 1.5em;
  }
}

/* ============================================ */
/* 1440 Width ================================== */
/* ============================================ */
@media all and (min-width: 1440px) {
}