/* /Users/blaineanderson/Coding/skyward-therapies/node_modules/react-alice-carousel/lib/alice-carousel.css */
/* ============================================ */
/* 300 Width ================================== */
/* ============================================ */
@media all and (min-width: 300px) {
  .feedInstagram{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ede7e7;
    background: #b2e2d8;
    background-image: url('/images/pages/segment2.jpg');
    background-color: ede7e7; /* Backup co\lor if image fails to load. */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0 50px 0;
  }
  .fICarouselContainer {
    position: relative;
    width: 80%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    overflow: hidden;
    padding: 10px;
  }
  .fICarouselChildren {
    width: 100%;
    position: relative;
    border-radius: 15px;
  }
  .fICarouselArrow {
    text-shadow: 1px 1px 1px #fff;
    z-index: 100;
    line-height: 500px;
    text-align: center;
    position: absolute;
    top: 0;
    width: 10%;
    font-size: 3em;
    cursor: pointer;
  }
  .fICarouselArrowRight {
    left: 105%;
  }
  .fICarouselArrowLeft {
    right: 105%;
  }
  .fICarouselDots {
    width: 100%;
    text-align: center;
    z-index: 100;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fICarouselDot {
    font-size: 1.5em;
    cursor: pointer;
    text-shadow: 1px 1px 1px #fff;
    margin: 15px;
  }
  .fIItemContainer{
    height: 500px;
    width: 500px;
  }
  .fIItem{
    height: inherit;
    width: inherit;
  }
}

/* ============================================ */
/* 375 Width ================================== */
/* ============================================ */
@media all and (min-width: 375px) {
}

/* ============================================ */
/* 410 Width ================================== */
/* ============================================ */
@media all and (min-width: 410px) {
}

/* ============================================ */
/* 550 Width ================================== */
/* ============================================ */
@media all and (min-width: 550px) {
}

/* ============================================ */
/* 700 Width ================================== */
/* ============================================ */
@media all and (min-width: 700px) {
}

/* ============================================ */
/* 1000 Width ================================== */
/* ============================================ */
@media all and (min-width: 1000px) {
}

/* ============================================ */
/* 1440 Width ================================== */
/* ============================================ */
@media all and (min-width: 1440px) {
}