#footSocialContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 90%;
  color: white;
  margin-top: 50px;
}

.socialIconContainer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}
.socialIcon{
  max-height: 50px;
  max-width: 50px;
  padding: 15px;
  border: 3px solid white;
  transition: all 0.35s ease-in-out;
  background-color: transparent;
  border-radius: 15px;
}
/* Color Backgrounds */
.socialIconInstagram:hover, .socialIconInstagram:focus{
  background: #c13584;
}
.socialIconFacebook:hover, .socialIconFacebook:focus{
  background-color: #3b5998;
}
.socialIconTwitter:hover, .socialIconTwitter:focus{
  background-color: #1dcaff;
}
.socialIconSnapchat:hover, .socialIconSnapchat:focus{
  background-color: #dedc30;
}
.socialIconLinkedin:hover, .socialIconLinkedin:focus{
  background-color: #0077B5;
}
