/* ============================================ */
/* 300 Width ================================== */
/* ============================================ */
@media all and (min-width: 300px) {
  #nutrition{
    width: 100%;
    background: #ede7e7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 0 0 50px 0;
  }
  #nutritionContainer{
    width: 100%;
    background: #ede7e7;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-flow: row wrap;
  }
  .nutSectionHeader{
    font-family: 'Bad Script', cursive;
    font-size: 1.5em;
    margin-top: 15px;
    width: 100%;
  }
  .nutBox{
    width: 80%;
    margin: auto;
  }
  .nutList{
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-flow: row wrap;
  }
  #nutBoxFirst{
    width: 100%;
  }
  #nutBoxThird{
    display: none;
  }
}

/* ============================================ */
/* 375 Width ================================== */
/* ============================================ */
@media all and (min-width: 375px) {
  .nutSectionHeader{
    font-size: 1.8em;
  }
}

/* ============================================ */
/* 410 Width ================================== */
/* ============================================ */
@media all and (min-width: 410px) {
  .nutSectionHeader{
    font-size: 2em;
  }
}

/* ============================================ */
/* 550 Width ================================== */
/* ============================================ */
@media all and (min-width: 550px) {
  .nutSectionHeader{
    font-size: 2.2em;
  }
}

/* ============================================ */
/* 700 Width ================================== */
/* ============================================ */
@media all and (min-width: 700px) {
}

/* ============================================ */
/* 1000 Width ================================== */
/* ============================================ */
@media all and (min-width: 1000px) {
  #nutrition{
    align-items: center;
    flex-flow: row nowrap;
  }
  #nutBoxFirst{
    display: none;
  }
  #nutBoxThird{
    display: flex;
  }
  .nutBox{
    flex: 1;
  }
}

/* ============================================ */
/* 1440 Width ================================== */
/* ============================================ */
@media all and (min-width: 1440px) {
  #nutritionContainer{
    max-width: 1440px;
  }
}